<div class="footer-nav row">
    <div class="col-xs-9 copyright">
        <span>Copyright &copy; 西安植觉商贸有限公司</span>
        <span>/ 关于我们</span>
        <span>/ All Rights Reserved</span></div>
    <div class="col-xs-3 call-number">
        <span>客服电话: 400 - 010 - 8888</span></div>
    <div class="qr-code row">
        <div class="col-xs-offset-9 qr-item col-xs-1">
            <img src="assets/images/qr-weixin.png" alt="weixin"/>
            <p>微信关注</p>
        </div>
        <div class="qr-item col-xs-1">
            <img src="assets/images/qr-weibo.png" alt="weibo"/>
            <p>微博关注</p>
        </div>
    </div>
</div>