<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        <span class="glyphicon glyphicon-home"></span> 植物学家的女儿
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav">
        <li class="active"><a ui-sref="bouquet">鲜花</a></li>
        <li><a ui-sref="immortal">永生花</a></li>
        <li><a ui-sref="wedding">婚礼</a></li>
        <li><a ui-sref="classic">经典</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li>Application was created {{ vm.relativeDate }}.</li>
      </ul>
    </div>
  </div>
</nav>
