<nav class="navbar navbar-static-top navbar-inverse">
  <div class="container-fluid">

    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        <li ui-sref-active="active"><a ui-sref="bouquet"><div class="menu-item menu-bouquet"><span>鲜花</span></div></a></li>
        <li ui-sref-active="active"><a ui-sref="immortal"><div class="menu-item menu-immortal"><span>永生花</span></div></a></li>
        <li ui-sref-active="active"><a ui-sref="wedding"><div class="menu-item menu-wedding"><span>婚礼</span></div></a></li>
        <li ui-sref-active="active"><a ui-sref="classic"><div class="menu-item menu-classic"><span>经典</span></div></a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right acme-navbar-text">
        <li ui-sref-active="active"><a ui-sref="cart"><div class="menu-item menu-cart"><span>购物车</span></div></a></li>
        <li ui-sref-active="active"><a ui-sref="signin"><div class="menu-item menu-profile"><span>登陆/注册</span></div></a></li>
      </ul>
    </div>
  </div>
</nav>
