/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap/_variables.scss
 */

/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  margin: 0;
  padding: 0;
  background-color: #cecece;
}

.main {
  margin: 0 auto;
  max-width: 960px;
  min-height: 700px;
  width: 960px;
  background-color: white;
}

.left-panel, .right-panel {
  padding: 0;
}

.right-panel {
  padding-left: 12px;
}

.row,
.image,
.image img {
  margin: 0;
  padding: 0;
}

.left-panel img {
  padding: 12px 6px 0 0;
  width: 100%;
}

.left-panel .image.row-last img {
  padding-left: 6px;
}

.left-panel .last img {
  padding: 12px 0 0;
  width: 480px;
  height: 378px;
}

.right-panel .image img {
  padding: 12px 6px 0 6px;
  width: 156px;
  height: 156px;
}

.right-panel .image.row-first img {
  padding-left: 0;
}

.right-panel .image.row-last img {
  padding-right: 0;
}

.image.row-last img {
  padding-right: 0;
}

.item img {
  width: 100%;
  height: 468px;
  padding: 0;
}

.item {
  height: 468px !important;
}

.fake-image {
  margin: 0 auto;
  max-width: 960px;
  width: 960px;
  display: block;
}

.user-section {
  border: 1px solid #6e6e6e;
  height: 460px;
  max-width: 450px;
  width: 48.5%;
  background-color: white;
  li {
    list-style: none;
  }
}

.border-space {
  width: 3%;
}

.center {
  width: 960px;
  margin: 0 auto;
}

.account-login .title {
  border-bottom: 1px solid #ddd;
  background: no-repeat 0 1px;
  text-transform: uppercase;
  padding-bottom: 5px;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0;
}

.jumbotron {
  background-color: white;
}

.all-covers {
  background-color: white;
  padding-top: 40px;
  .covered {
    width: 470px;
    height: 470px;
    background-size: 470px 470px;
    background-color: red;
    margin: 0 20px 20px 0;
    &.immortal {
      background-image: url(../assets/images/immortal-cover.jpg);
      &:hover {
        background-image: url(../assets/images/immortal-hero.jpg);
      }
    }
    &.bouquet {
      background-image: url(../assets/images/flower-cover.jpg);
      &:hover {
        background-image: url(../assets/images/flower-hero.jpg);
      }
    }
    &.wedding {
      background-image: url(../assets/images/wedding-cover.jpg);
      &:hover {
        background-image: url(../assets/images/wedding-hero.jpg);
      }
    }
    &.style {
      background-image: url(../assets/images/style-cover.jpg);
      &:hover {
        background-image: url(../assets/images/style-hero.jpg);
      }
    }
    &.right-item {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
